<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EngineDatabase" connectionString="Server=(local);Database=EngineDatabase;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>